{% extends 'entete.html'%}

{% block content%}

<section class="page-section bg-primary text-white mb-0" id="about">
<div class="container d-flex align-items-center flex-column">
<div class="exposition-page">
  <div class="container">
    <div class="row">
                Ange DAKOUO

          Né en 1990 à Abidjan, en Côte-d’Ivoire
          Vit et travaille à Bamako, Mali




           Expositions personnelles

          2019	- Demain sera meilleur, Villa Soudan, Bamako, Mali

          2018	- Les boites rouges, Taxi-Bamako, Bamako, Mali



          Expositions Collectives

          2019	- Hier est la mémoire d’aujourd’hui, Espace Commines, AKAA, Paris, France
          - Arkane Afrika, 5è édition, Casablanca, Maroc
          	- Silence Coupable, Exposition collective Tim’Arts, Espace Siif’Arts, Bamako-Mali
          - Les Tisseurs de liens, BICIM Amie des Arts, 2è édition, Bamako, Mali
          - Quartier Libre, Espace Siif’arts, Bamako, Mali   
          - Pavillon des Jeunes artistes maliens, IN de Ségou’Art, Ségou, Mali

          2018	- Jeunes Talents, Espace Siif’arts, Bamako, Mali
          - Esthétiques en partage au-delà des géographies, Les Ateliers SAHM, OFF de Dak’art
          - Couleurs de Ségou, Centre Culturel Kôrè, OFF de la Biennale de Dakar
          - Exposition en duo, Festival sur le Niger, Ségou, Mali
          - EQUATIONS NOMADES, A la rencontre de Hassan Massoudy / Institut Français du Mali

          2017	- Parcours de couleurs, OFF des Rencontres de Bamako, Tim’Arts, Bamako, Mali
          	- Exposition en duo, Fondation Festival sur le Niger, Ségou, Mali
          	- Je te présente ma ville, Institut Français de Brazzaville, Congo
          	- Group Show, Musée National du Mali
          	- Kouma, Festival sur le Niger, Ségou, Mali
          	- L’aube, Centre Soleil d’Afrique, Bamako, Mali
          	   (Restitution de l’atelier de création en vidéo d’art / 6è édition du FAIVA)

          2016	- Ségou’Art, Salon d’art contemporain du Mali, Ségou
          	- Facebook, Exposition en duo, Collectif Tim’Arts, Bamako
          	- Honorer nos héros, journée internationale des casques bleus, Bamako, Mali
          	- Cercle Panafricain des Artistes (PACA), OFF de la Biennale de Dakar, Musée Boribana
          	- 31è salon des artistes pour la liberté, Salons Curnonsky, Angers, France
          2015	- Les Frontières, Musée du district de Bamako, Mali
          	- Ames de mérite, Collectif Tim’ Arts, Galerie MEDINA, Bamako, Mali

          2014	- Indépendance, je me libère et j’évolue, Collectif Tim’Arts, Bamako, Mali
          	- KAWRAL, Alliance Française, Mopti, Mali

          2013	- Une guerre pour la paix, Conservatoire des Arts de Bamako, Mali



          Distinctions

          2017	- Major du diplôme d’études artistiques générales – Conservatoire des Arts de Bamako

          2015	- Lauréat de la 9è édition du concours national « Talents de la cité »


          Résidences

          2019	- Résidence Arkane, Casablanca, Maroc

          2018	- Résidence Quartier Libre, Espace Siif’Arts, Bamako, Mali

          2017	- Fondation Festival sur le Niger, Programme Kôrè Qualité #3, Ségou, Mali

          2016	- Fondation Festival sur le Niger, Programme Kôrè Qualité #3, Ségou, Mali

          2014	- Résidence Kwaral, Mopti, Mali


          Collections

              • Collection Lepoultier, Bamako, Paris
              • Collection Villa Soudan, Bamako, Mali
              • Thierry Barbé, Bruxelles, Belgique
              • Roelof Haveman, Pays-Bas
              • Thomas P. Cazenave, Paris, France
              • Bonaventure Soh Bejeng Ndikung, Berlin, Allemagne
    </div>
  </div>
</div>
</div>
</section>
{% endblock %}
